---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Иерархия медучереждений Беларуси";
const description = "Структура иерархии онкологических медицинских учреждений Беларуси: РНПЦ, областные и межрайонные диспансеры, кабинеты онколога. Контакты, ссылки, поддержка. Руками Трогать — поддержка, опыт, советы.";
const keywords = "иерархия, медучреждения, онкология, диспансер, Беларусь, РНПЦ, поддержка, Руками Трогать";
const shareImage = "/postanovka/151.png";
const pageUrl = "https://rykamitrogat.info/tpost/40mxvv9pa1-ierarhiya-meducherezhdenii-belarusi";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <!-- TODO: reduce size of image. image too big -->
  <img src={shareImage} alt="Крупный план человека, надевающего синие одноразовые перчатки на нейтральном фоне, передающий ощущение готовности и заботы о чистоте." class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Во всей иерархии онкологических медицинских учреждений во главе стоит Государственное Учреждение Республиканский научно-практический Центр онкологии и медицинской радиологии им. Н.Н.АЛЕКСАНДРОВА по адресу: Республика Беларусь, Минский район, аг. Лесной.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    РНПЦ ОМР им. Н.Н.АЛЕКСАНДРОВА занимает первое место в рейтинге ведущих центров Беларуси. Опыт работы по диагностике и лечению более 60 лет.
    В Центре работает 10 доцентов, 12 профессоров, 25 докторов наук, 72 кандидата наук, академик Национальной
    академии наук Беларуси. Ссылка на сайт: <a class="underline decoration-solid hover:no-underline" href="https://omr.by/" target="_blank">https://omr.by/</a>.
  </PostContentItem>
  <PostContentItem>
    Далее следуют <a class="underline decoration-solid hover:no-underline" href="https://mgkoc.by/" target="_blank">Минский городской клинический онкологический центр</a>, а также областные онкологические диспансеры: <a class="underline decoration-solid hover:no-underline" href="https://www.oncologybrest.by" target="_blank">Брестский</a>, <a class="underline decoration-solid hover:no-underline" href="https://onco.by/" target="_blank">Витебский</a>, <a class="underline decoration-solid hover:no-underline" href="https://gokod.by/" target="_blank">Гомельский</a>, <a class="underline decoration-solid hover:no-underline" href="https://gocb.by/ru/struktura-kliniki/onkodispansernoe-otdelenie.html" target="_blank">Гродненский</a> и <a class="underline decoration-solid hover:no-underline" href="http://www.mood.by/" target="_blank">Могилевский</a>.
  </PostContentItem>
  <PostContentItem>
    Также есть межрайонные онкологические диспансеры, например в <a class="underline decoration-solid hover:no-underline" href="https://pcp.by/mezhrajonnyj-onkologicheskij-dispanse/obshhaja-informacija/" target="_blank">Пинске</a>, <a class="underline decoration-solid hover:no-underline" href="https://bmod.by/" target="_blank">Бобруйске</a>, <a class="underline decoration-solid hover:no-underline" href="https://polmed.by/ru/podrazdeleniya/mezhrajonnyj-onkologicheskij-dispanser" target="_blank">Полоцке</a>. В более мелких городах есть кабинеты онколога или врач при центральной районной больнице.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
