---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Методы диагностики, доступные в Беларуси";
const description = "Все современные методы диагностики рака молочной железы, доступные в Беларуси: осмотр, лучевые, биопсия, морфология, генетика. Руками Трогать — поддержка, опыт, советы.";
const keywords = "методы диагностики, рак молочной железы, Беларусь, осмотр, лучевые методы, биопсия, морфология, генетика, Руками Трогать";
const shareImage = "/postanovka/9.webp";
const pageUrl = "https://rykamitrogat.info/tpost/5sn2kve151-metodi-diagnostiki-dostupnie-v-belarusi";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <!-- TODO: reduce size of image. image too big -->
  <img src={shareImage} alt="Врач в белом халате настраивает медицинское оборудование рядом с пациентом в клинике. Нейтральные тона помещения создают спокойную и профессиональную атмосферу." class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      В Беларуси уровень лечения онкологических заболеваний достаточно высокий и на сегодняшний день тебе доступны все виды комплексной диагностики.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem><strong>Первичный внешний осмотр — пальпация</strong> (поэтому так важно, чтобы ты сама каждый месяц внимательно осматривала свою грудь и замечала любые изменения), делать это нужно каждый месяц с 5 по 11 день цикла.</PostContentItem>
  <PostContentItem>
    <strong>Лучевые методы</strong>
    <ul class="list-disc pl-6">
      <li>Рентген</li>
      <li>КТ</li>
      <li>МРТ</li>
      <li>Маммография</li>
      <li>УЗИ</li>
      <li>Радиоизотопные исследования</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <strong>Для чего нужны лучевые методы:</strong> они выявляют первичную опухоль, распространенность процесса, регионарные и отдаленные метастазы, для проведения биопсии под контролем лучевых методов и главное - для оценки результатов лечения.
  </PostContentItem>
  <PostContentItem>
    <strong>Биопсия</strong> — метод исследования, с помощью которого врач забирает кусочек тканей или жидкость из подозрительного участка молочной железы. Этот кусочек изучают под микроскопом, чтобы выяснить, есть ли в нем злокачественные клетки.
  </PostContentItem>
  <PostContentItem>
    <strong>Морфологические методы:</strong> гистологические исследования и иммуногистохимические исследования (маркеры).
  </PostContentItem>
  <PostContentItem>
    <strong>Молекулярно-генетическое исследование:</strong> для женщин с онко-диагнозами, а также здоровым женщинам при наследственном факторе (если РМЖ был у кровных родственников: мамы, бабушки).
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
