---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Подготовка: что брать с собой в больницу. Чек-лист";
const description = "Чек-лист для подготовки к операции: что взять с собой в больницу при лечении рака молочной железы. Практические советы, список вещей, поддержка. Руками Трогать — поддержка, опыт, советы.";
const keywords = "подготовка, больница, чек-лист, операция, рак молочной железы, вещи, советы, Руками Трогать, Беларусь";
const shareImage = "/operacija/7.png";
const pageUrl = "https://rykamitrogat.info/tpost/8jbckafc11-podgotovka-chto-brat-s-soboi-v-bolnitsu";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <img src={shareImage} alt="Простой контрольный список на бежевом фоне с четырьмя розовыми флажками и пустыми строками, передающий организацию и планирование в минималистичном стиле." class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Собираясь в больницу, старайся не паниковать и попроси близких помочь тебе собраться. Ты можешь воспользоваться нашим списком и расширить его по своему пожеланию.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <strong>Когда вы едете на операцию рака молочной железы, следует взять с собой:</strong>
    <ul class="list-decimal pl-6 mt-2">
      <li>Личные медицинские документы, включая свидетельство о болезни и медицинскую карту, паспорт.</li>
      <li>Комфортную и свободную одежду, в которой вам будет удобно лежать и которая не мешает движению и которую удобно снимать и одевать на осмотрах и процедурах.</li>
      <li>Личную гигиену: зубную щетку, зубную пасту, мыло, полотенце, туалетную бумагу.</li>
      <li>Лекарства, которые вы принимаете ежедневно.</li>
      <li>Смартфон, планшет, зарядное устройство, книги, журналы.</li>
      <li>Контактные линзы и хранение для них, если вы их используете.</li>
      <li>Документы для страховки, если они потребуются.</li>
      <li>Для близких — номер телефона врача и контактную информацию для связи с вами в больнице.</li>
      <li>Компрессионные чулки — их нужно будет надеть в день операции утром, не вставая с постели. Душ перед операцией с вечера или утром в день операции также принимать в чулках — они вытираются полотенцем и быстро сохнут.</li>
      <li>Деньги — могут понадобиться лекарства, например слабительное, свечи, которые не входят в протокол. В некоторых случаях, например, при двусторонней мастэктомии врачи с одномоментной имплантацией рекомендуют компрессионное белье. Продавцы доставляют его прямо в больницу и привозят несколько вариантов для примерки. Импланты тоже надо оплачивать самостоятельно.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <p class="text-center mt-12 mb-16">
        <a href="#" class="font-bold text-3xl underline decoration-solid hover:no-underline">Скачай PDF</a>
    </p>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>