---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Онкология и женская красота";
const description = "Восстановление женской красоты после онкологического лечения: советы по уходу за кожей, ограничения и возможности косметологических процедур, рекомендации специалистов.";
const keywords = "онкология, женская красота, косметология, восстановление, уход за кожей, процедуры, ограничения, рекомендации";
const shareImage = "/remissia/14.png";
const pageUrl = "https://rykamitrogat.info/tpost/8zj4sujli1-onkologiya-i-zhenskaya-krasota";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <img src={shareImage} alt="Крупный план подбородка и губ человека, рука которого нежно касается его шеи и линии подбородка, передавая самоанализ и спокойствие посредством мягкого освещения и естественной текстуры кожи." class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Благодаря постоянному развитию медицинских технологий рак теперь не равен приговору. Победившие эту болезнь хотят улучшить качество жизни и идут к косметологам, чтобы восстановить кожу после лечения.<br />
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    Нельзя скрывать, что ты перенесла онкологическое заболевание и лучше посоветоваться и с врачом, и со специалистом по косметологии.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <strong>Почему косметологи перестраховываются</strong>
  </PostContentItem>
  <PostContentItem>
    На зарубежных и российских форумах, посвященных красоте и здоровью, все чаще можно увидеть вопросы от пациентов:<br />
    «У меня диагностировали рак груди, провели операцию, я уже не принимаю лекарства 4 месяца, могу ли я уколоть “Ботокс”»?,<br />
    «У меня была операция по иссечению меланомы год назад, когда я могу делать биоревитализацию? Кожа очень сухая»<br />
    Эти вопросы демонстрируют огромную нишу потребностей онкопациента, относящуюся к качеству жизни, ведь благодаря развитию медицинских технологий все больше людей после лечения могут не просто доживать, а полноценно жить.
  </PostContentItem>
  <PostContentItem>
    Однако, в своем большинстве косметологи не спешат разрешать процедуры ранее, чем через несколько лет после лечения. Причин этому несколько:
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li>недостаток качественных исследований безопасности и эффективности подобных процедур у перенесших лечение;<br /></li>
      <li>недостаток общих знаний по данной проблеме (который, впрочем, активно устраняется благодаря тому, что на специализированных конгрессах специалисты-онкологи, хирурги и косметологи междисциплинарно обсуждают свой опыт).</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Мнений достаточно много. Некоторые косметологи считают, что онкологические заболевания – слишком обширная и разнообразная патология и по своей природе, и по локализации, и по распространенности. С другой стороны, и <strong>косметологические процедуры имеют разные точки приложения и механизмы воздействия.</strong>
  </PostContentItem>
  <PostContentItem>
    Как правило, <strong>в период активного лечения</strong> онкологического заболевания <strong>накладываются ограничения на проведение любых</strong> активных косметологических вмешательств, особенно с нарушением целостности кожного покрова. В то же время уходовые процедуры, мягкие УЗ-пилинги, расслабляющий массаж лица проводить можно (если, конечно, речь не идет об онкологическом заболевании в области шеи и головы).
  </PostContentItem>
  <PostContentItem>
    В период ремиссии можно рассматривать ботулинотерапию, а вот <strong>филлеры, лазерные и другие аппаратные процедуры противопоказаны в течение первых 5 лет после удаления опухоли.</strong> В дальнейшем можно проводить и контурную пластику, и лазерную эпиляцию. <strong>Следует избегать всех методик</strong>, усиливающих микроциркуляцию, применение составов, содержащих регуляторные молекулы (плацентарные препараты, биомиметические пептиды), а также аппаратные методики с глубокой проникающей способностью и прогревом (RF-терапия).
  </PostContentItem>
  <PostContentItem>
    <strong>Лимфологи не рекомендуют</strong> процедуры, связанные с притоком крови в области скомпрометированной руки (места операции) - массаж, баня..
  </PostContentItem>
  <PostContentItem>
    <span>С возможностью повреждения кожи и, как следствие, инфицирования связана рекомендация <strong>не делать обрезной маникюр</strong>.</span>
  </PostContentItem>
  <PostContentItem>
    Существуют примеры, когда женщины возвращались не только в фитнес-зал, но и даже в экстремальные виды спорта. В любом случае, принимать решение надо индивидуально, оценив все риски.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>