---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Чек-лист \"Что спросить у онколога?\"";
const description = "Список важных вопросов для онколога: диагностика, лечение, риски, побочные эффекты, репродуктивные функции, образ жизни, питание, обследования. Руками Трогать — поддержка, опыт, советы.";
const keywords = "чек-лист, вопросы онкологу, диагностика, лечение, рак молочной железы, Беларусь, Руками Трогать";
const shareImage = "/postanovka/13.webp";
const pageUrl = "https://rykamitrogat.info/tpost/frmjrvt0b1-chek-list-chto-sprosit-u-onkologa";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <!-- TODO: reduce size of image. image too big -->
  <img src={shareImage} alt="Контрольный список на бежевом фоне с четырьмя розовыми флажками и линиями, символизирующий организованность и продуктивность. Каждый пункт отмечен галочкой." class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Дорогая, это очень важный этап! Он сэкономит тебе и специалистам много времени в будущем и поможет избежать недопониманий.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>Диагноз всегда ставит нас и родных в тупик, а эмоции подавляют рациональное мышление. Но каким бы страшным и неизвестным это казалось на первый взгляд, мы советуем тебе или твоим близким сохранить список вопросов, которые необходимо задать онкологу.</PostContentItem>
  <PostContentItem>
    Пусть это будет твоей шпаргалкой и “резюме”, на основе которого ты сможешь получать более качественные консультации у других специалистов.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <div class="text-center">
      <strong><a class="underline decoration-solid hover:no-underline" href="https://drive.google.com/file/d/16VH67oeDFxUJL07--Yxd3OENYiYg4ewb/view" target="_blank">Скачать PDF</a></strong>
    </div>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    <ul class="list-decimal pl-6">
      <li>Что означает диагноз (буквы TNM), какая у меня стадия?</li>
      <li>Какие дополнительные (морфологические, иммуногистохимические, молекулярно-генетические) исследования можно провести? И какие из исследований уже были проведены?</li>
      <li>Какие варианты лечения возможны при моем заболевании?</li>
      <li>Какие преимущества и недостатки (риски, побочные эффекты) у каждого из возможных методов лечения? Какой из методов вы рекомендуете?</li>
      <li>Будет ли организован консилиум по поводу выбора тактики лечения? Какие специалисты примут в нем участие?</li>
      <li>По каким критериям оценивается эффективность лечения? Какие исследования проводились до и какие исследования будут после терапии?</li>
      <li>Возможно ли прохождение лечения в вашем медучреждении? Если нет, в каком онкодиспансере/институте я могу получить медицинскую помощь по профилю своего заболевания?</li>
      <li>Лечение осуществляется бесплатно\платно, по страховке?</li>
      <li>Какие побочные эффекты возможны на каждом из этапов терапии?</li>
      <li>Как влияет лечение на репродуктивные функции. Можно ли предусмотреть возможность сохранить биоматериал до начала проведения терапии.</li>
      <li>Можно ли совмещать приём препарата от другого хронического заболевания с лекарственной терапией по поводу онкологии?</li>
      <li>Есть ли какие-то рекомендации, ограничения, связанные с образом жизни до, во время и после лечения (спорт, плавание, отдых на юге, перелёты, баня и т.д.)?</li>
      <li>Есть ли какие-то рекомендации или ограничения, связанные с косметологическими процедурами (массаж, эпиляция, солярий, омолаживающие процедуры)?</li>
      <li>Есть ли какие-то рекомендации по поводу питания, приёма биологически активных добавок, витаминов?</li>
      <li>Какие обследования необходимо проходить после завершения лечения?</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
