---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Как тебе могут помочь родные";
const description = "Рекомендации для родных онкопациента: как поддерживать, что говорить, как помогать, важность искренности, терпения, ненавязчивости и конкретной помощи.";
const keywords = "помощь родных, поддержка, онкопациент, советы, стресс, коммуникация, рекомендации";
const shareImage = "/remissia/12.png";
const pageUrl = "https://rykamitrogat.info/tpost/ngkb4ivjm1-kak-tebe-mogut-pomoch-rodnie";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <img src={shareImage} alt="Пожилая пара тепло улыбается, мужчина нежно обнимает женщину сзади. Они излучают счастье и нежность на фоне однотонной фотографии." class="mb-12 w-full" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Самый главный совет для родных онкопациента – это изменить свой стиль коммуникации и внимательно относиться к тому, что и как вы говорите своему родственнику, находящимся в болезненном состоянии или ремиссии.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <p class="text-xl">Соблюдайте эти три правила:</p>
    <ul class="list-disc pl-6 text-xl">
      <li>быть искренним</li>
      <li>быть терпимым и терпеливым</li>
      <li>быть ненавязчивым</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Каким бы сильным не было наше желание помочь родным и близким, иногда мы можем совершать ошибки просто не осознавая, как наши слова могут ранить другого.
  </PostContentItem>
  <PostContentItem>
    Мы все — разные, у нас разный опыт, разные страхи и переживания.
  </PostContentItem>
  <PostContentItem>
    Есть два основных принципа, которые следует соблюдать в коммуникации:
  </PostContentItem>
  <PostContentItem>
    Первое — человек имеет право отказаться от вашей помощи, даже не объясняя причин. И здесь важно не обижаться, иначе происходит нарушение границ.<br />
    И второе — держите “двери открытыми”. Скажите, что предложение о помощи в силе, и вы готовы помочь, если будет такая необходимость.
  </PostContentItem>
  <PostContentItem>
    В нашей культуре так сложилось, что нужно быть смелым, а бояться — стыдно. Нельзя быть слабым, нужно быть сильным.
  </PostContentItem>
  <PostContentItem>
    Люди часто остаются наедине со своими страхами. <strong>Страх есть и у пациента, и у его родных. И это не стыдно, это нормально.</strong> На удержание при себе страха (как и других сильных чувств) человек тратит много ресурсов, которыми можно распорядиться иначе.
  </PostContentItem>
  <PostContentItem>
    <strong>Говорить с близкими людьми.</strong> Ваш близкий, несмотря на болезнь, не перестал быть человеком, не превратился в инопланетянина, он чувствует так же, как и вы. Ему тоже страшно. Вы обнаружите, что вы не одиноки. Страх — это искреннее и сильное чувство. Искренность объединяет, а совместность поддерживает. Это как в том мультике: «давай бояться вместе».
  </PostContentItem>
  <PostContentItem>
    <strong>Внести ясность в ситуацию, которая вас беспокоит.</strong> Понимать, что тревога и недостаток информации о вашем состоянии будут отравлять вашу жизнь, пока вы не получите либо подтверждение, либо опровержение своих подозрений. Знание даст вектор и возможность идти вперед.
  </PostContentItem>
  <PostContentItem>
    Пройдя обследование и получив его результаты, вы вновь сможете твердо стоять на ногах, планировать свое будущее и, при необходимости, двигаться к своему выздоровлению.
  </PostContentItem>
  <PostContentItem>
    <strong>Помощь в преодолении стресса. Рекомендации близким онко-пациента:</strong>
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li><strong>Помогите</strong> ему прожить то, что терзает его внутри. <strong>Позвольте</strong> человеку говорить о том, что его волнует, гложет. <strong>Покажите</strong>, что вы рядом, и готовы принять его со всеми его чувствами.</li>
      <li>Постарайтесь не использовать стандартную фразу <strong>«Не переживай»</strong>. Эта фраза может восприниматься как показатель равнодушия. Чем быстрее человек проживет негативные эмоции, тем быстрее он начнет видеть позитив.</li>
      <li>Дайте понять, что человек не одинок. Пусть он почувствует, что вы рядом. Например, это может быть <strong>помощь в домашних делах</strong>. Так он убедится, что вы всегда готовы его поддержать.</li>
      <li>Спросите, какая поддержка нужна вашему близкому человеку. Возможно, он хочет, чтобы вы каждый день звонили или приносили продукты из магазина. <strong>Конкретизируйте помощь, которую можете предложить</strong>.</li>
      <li>Слушайте с искренним интересом и <strong>стимулируйте близкого человека говорить.</strong></li>
      <li><strong>советы только по запросу</strong>. Вместо фразы: «Ты должен это сделать», используйте более мягкие формулировки: «Я нашел для тебя информацию. Может она пригодится».</li>
      <li>Берите <strong>информацию из проверенных источников</strong> — на сайтах организаций, специализирующихся на помощи онкопациентам.</li>
      <li>Вспомните, что <strong>помогло этому человеку справиться с трудностями в прошлом.</strong> Используйте эти знания, чтобы помочь близкому здесь и сейчас.</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    Также очень важна поддержка близких людей на этапе химиотерапии. Например, близкий человек может проследить, чтобы <strong>важные предметы, такие как кошелек, ключи, телефон хранились в определенном месте.</strong> И при необходимости напоминать. А разговаривать желательно там, где не так много людей, чтобы внимание не рассеивалось.
  </PostContentItem>
  <PostContentItem>
    <strong>Очень помогают списки и напоминания:</strong>
    <ul class="list-disc pl-6 mt-2">
      <li>Дни приема у врача</li>
      <li>Необходимые лекарства</li>
      <li>Покупки</li>
      <li>Контакты – имена и фамилии</li>
      <li>повседневные покупки</li>
      <li>адреса, телефоны близких, врачей, экстренных служб</li>
      <li>каждодневные дела</li>
      <li>семейные праздники, события</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    После приема важно убедиться, что ваш близкий человек запомнил все рекомендации. Важна и активная мозговая деятельность – что-то писать, читать, решать. Кроссворды и сканворды, например. Память важно тренировать – помогите своему родственнику, увлеките совместной интересной игрой, подарите новые головоломки, судоку и пр.
  </PostContentItem>
  <PostContentItem>
    Больше информации от онко-психолога службы “Ясное утро” вы найдете <a href="https://oncoguide.ru/poleznye-materialy/311-sovety-onkopsihologa-paczientu-i-rodnym-na-vseh-etapah-lecheniya/" target="_blank" rel="noopener" class="underline decoration-solid hover:no-underline">здесь</a>.
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>