---
import Layout from "../../layouts/Layout.astro";
import PostTitle from "../../components/PostTitle.astro";
import Divider from "../../components/Divider.astro";
import PostContentItem from "../../components/PostContentItem.astro";
import PostTitleDescription from "../../components/PostTitleDescription.astro";

const title = "Факторы риска";
const description = "Факторы риска рака молочной железы: на что можно и нельзя повлиять, советы по профилактике, влияние образа жизни и генетики. Руками Трогать — поддержка, опыт, советы.";
const keywords = "факторы риска, рак молочной железы, профилактика, образ жизни, генетика, Беларусь, Руками Трогать";
const shareImage = "/posts/risks.png";
const pageUrl = "https://rykamitrogat.info/tpost/rxbvb1dsk1-faktori-riska";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
>
  <PostTitle>{title}</PostTitle>
  <img src={shareImage} alt="Крупный план загорелой, веснушчатой ​​спины и плеча женщины в красном купальнике на фоне ярко-голубой воды бассейна." class="mb-12" />
  <PostTitleDescription>
    <h2 class="mb-5">
      Быть женщиной — это уже фактор риска, согласно данным ВОЗ, каждая 8-я
      женщина может столкнуться с диагнозом РМЖ до своего 80-летнего возраста.
    </h2>
  </PostTitleDescription>
  <PostContentItem>
    <Divider />
  </PostContentItem>
  <PostContentItem>
    Мы хотим, чтобы бы ты понимала, что есть факторы, на которые невозможно
    повлиять, а есть и те, которые мы можем контролировать. Посмотри, что из
    этого ты можешь изменить прямо сейчас?
  </PostContentItem>
  <PostContentItem>
    <strong>Нельзя повлиять:</strong>
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li>Пожилой возраст</li>
      <li>Семейный анамнез РМЖ (болели мама, бабушка)</li>
      <li>Генетические мутации</li>
      <li>Раннее менархе (первая менструация) или поздняя менопауза</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <strong>Можно повлиять:</strong>
  </PostContentItem>
  <PostContentItem>
    <ul class="list-disc pl-6">
      <li>Отказ от курения</li>
      <li>Умеренное потребление алкоголя</li>
      <li>Подвижный образ жизни</li>
      <li>Контроль избыточного веса</li>
      <li>Стресс</li>
      <li>Сбалансированное питание (оптимально - средиземноморская диета)</li>
      <li>Контроль за уровнем сахара (диабет 2 типа)</li>
      <li>Экологическая обстановка</li>
      <li>Заболевания щитовидной железы и гормональные сбои</li>
    </ul>
  </PostContentItem>
  <PostContentItem>
    <Divider />
  </PostContentItem>
</Layout>
