---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import PageTitle from "../components/PageTitle.astro";
import PageNavigationList from "../components/PageNavigation/PageNavigationList.astro";
import PageNavigationItem from "../components/PageNavigation/PageNavigationItem.astro";
import Image1 from "../../public/remissia/1.png";
import Image2 from "../../public/remissia/2.png";
import Image3 from "../../public/remissia/3.png";
import Image4 from "../../public/remissia/4.png";
import Image5 from "../../public/remissia/5.png";
import Image6 from "../../public/remissia/6.png";
import Image7 from "../../public/remissia/7.png";
import Image8 from "../../public/remissia/8.png";
import Image9 from "../../public/remissia/9.png";
import Image10 from "../../public/remissia/10.png";
import Image11 from "../../public/remissia/11.png";
import Image12 from "../../public/remissia/12.png";
import Image13 from "../../public/remissia/13.png";
import Image14 from "../../public/remissia/14.png";
import Image15 from "../../public/remissia/15.png";
import Image16 from "../../public/remissia/16.png";
import Image17 from "../../public/remissia/17.png";

const title = "Жизнь после и ремиссия - Руками Трогать";
const description = "Всё о жизни после лечения, реабилитации, изменениях, поддержке и профилактике для женщин с раком молочной железы. Руками Трогать — поддержка, опыт, советы.";
const keywords = "жизнь после, ремиссия, реабилитация, поддержка, профилактика, рак молочной железы, Руками Трогать, Беларусь";
const shareImage = "/main/top-banner.png";
const pageUrl = "https://rykamitrogat.info/zhizn-posle-remissija";
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  shareImage={shareImage}
  pageUrl={pageUrl}
  hasBreadcrumbs={false}
>
  <Section>
    <PageTitle>Жизнь после и ремиссия</PageTitle>

    <div class="space-y-6 text-[18px] leading-[26px]">
      <PageNavigationList>
        <PageNavigationItem
          image={{ src: Image1.src, alt: "Человек в розовом платке и свитере пристально смотрит в камеру. Фон однотонно-розовый, создающий спокойную и сосредоточенную атмосферу." }}
          link={{
            href: "/tpost/nsnfva0rv1-kakie-izmeneniya-tebya-zhdut-i-kak-k-nim",
            title: "Какие изменения тебя ждут и как к ним подготовиться"
          }}
        />
        <PageNavigationItem
          image={{ src: Image2.src, alt: "Женщина с длинными рыжими волосами, завёрнутыми в полотенце, держит расчёску. Её чёрные ногти нежно обхватывают волосы, передавая ощущение спокойного, интимного момента." }}
          link={{
            href: "/tpost/1zmcu8rz21-vipadenie-volos",
            title: "Выпадение волос"
          }}
        />
        <PageNavigationItem
          image={{ src: Image3.src, alt: "Реабилитация после онкологии" }}
          link={{
            href: "/tpost/dg0zkctcb1-reabilitatsiya-posle-onkologii",
            title: "Реабилитация после онкологии"
          }}
        />
        <PageNavigationItem
          image={{ src: Image4.src, alt: "Профилактика лимфостаза" }}
          link={{
            href: "/tpost/zfgdsfggy1-profilaktika-limfostaza",
            title: "Профилактика лимфостаза"
          }}
        />
        <PageNavigationItem
          image={{ src: Image5.src, alt: "Изменение веса" }}
          link={{
            href: "/tpost/czmd3iz591-izmenenie-vesa",
            title: "Изменение веса"
          }}
        />
        <PageNavigationItem
          image={{ src: Image6.src, alt: "Изменения в мышцах и нервах" }}
          link={{
            href: "/tpost/l3y43zcpc1-izmeneniya-v-mishtsah-i-nervah",
            title: "Изменения в мышцах и нервах"
          }}
        />
        <PageNavigationItem
          image={{ src: Image7.src, alt: "Климактерический синдром (приливы)" }}
          link={{
            href: "/tpost/ctsyd002b1-klimaktericheskii-sindrom-prilivi",
            title: "Климактерический синдром (приливы)"
          }}
        />
        <PageNavigationItem
          image={{ src: Image8.src, alt: "Белье после мастэктомии" }}
          link={{
            href: "/tpost/3m9skmdz51-bele-posle-mastektomii",
            title: "Белье после мастэктомии"
          }}
        />

      <PageNavigationItem
          image={{ src: Image9.src, alt: "Где купить белье после мастэктомии" }}
          link={{
            href: "/tpost/n98ax7t261-gde-kupit-bele-posle-mastektomii",
            title: "Где купить белье после мастэктомии"
          }}
        />

      <PageNavigationItem
          image={{ src: Image10.src, alt: "Кому и зачем нужно носить рукав" }}
          link={{
            href: "/tpost/t1ixisnt61-komu-i-zachem-nuzhno-nosit-rukav",
            title: "Кому и зачем нужно носить рукав"
          }}
        />

      <PageNavigationItem
          image={{ src: Image11.src, alt: "Твои новые регулярные чек-апы" }}
          link={{
            href: "/tpost/k6jhc8eps1-tvoi-novie-regulyarnie-chek-api",
            title: "Твои новые регулярные чек-апы"
          }}
        />

      <PageNavigationItem
          image={{ src: Image12.src, alt: "Как тебе могут помочь родные" }}
          link={{
            href: "/tpost/ngkb4ivjm1-kak-tebe-mogut-pomoch-rodnie",
            title: "Как тебе могут помочь родные"
          }}
        />

      <PageNavigationItem
          image={{ src: Image13.src, alt: "Страх рецидива. Как справляться" }}
          link={{
            href: "/tpost/7ta0hayi31-strah-retsidiva-kak-spravlyatsya",
            title: "Страх рецидива. Как справляться"
          }}
        />

      <PageNavigationItem
          image={{ src: Image14.src, alt: "Онкология и женская красота" }}
          link={{
            href: "/tpost/8zj4sujli1-onkologiya-i-zhenskaya-krasota",
            title: "Онкология и женская красота"
          }}
        />


      <PageNavigationItem
          image={{ src: Image15.src, alt: "Работа" }}
          link={{
            href: "/tpost/clscke2n41-rabota",
            title: "Работа"
          }}
        />

      <PageNavigationItem
          image={{ src: Image16.src, alt: "Сексуальная жизнь" }}
          link={{
            href: "/tpost/1tfi4mfn31-seksualnaya-zhizn",
            title: "Сексуальная жизнь"
          }}
        />
      <PageNavigationItem
          image={{ src: Image17.src, alt: "Равное консультирование" }}
          link={{
            href: "/tpost/c2m6k6vre1-ravnoe-konsultirovanie",
            title: "Равное консультирование"
          }}
        />
      </PageNavigationList>

    </div>
  </Section>
</Layout>
